Repository bachya/ecowitt2mqtt: changes, and which pre-commit hooks are due for each by the changed paths.
All: blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture, yamllint

Path conditions:
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^poetry\.lock$
  debug-statements: any of: \.py$
  format: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: ^vulture_whitelist\.py$
  pylint: any of: \.py$, but not: ^vulture_whitelist\.py$
  pyupgrade: any of: \.py$
  ruff: any of: \.py$, but not: ^vulture_whitelist\.py$
  vulture: any of: \.py$
  yamllint: any of: \.(yaml|yml)$

add Ecowitt GW1200 family to device map
  ecowitt2mqtt/helpers/device.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

add test for Ecowitt GW1200
  tests/data/test_device.py
  tests/fixtures/payload_gw1200c.json
Due: blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

feat: support string rain sensor values from newer Ecowitt devices
  ecowitt2mqtt/helpers/calculator/rainstate.py
  tests/data/test_data_processing.py
  tests/fixtures/payload_gw2000a_dry.json
  tests/fixtures/payload_gw2000a_wet.json
Due: blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Rename object_id to default_entity_id in hass.py
  ecowitt2mqtt/helpers/publisher/mqtt/hass.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Add default_entity_id to MQTT discovery configuration
  ecowitt2mqtt/helpers/publisher/mqtt/hass.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Refactor entity ID handling in hass.py
  ecowitt2mqtt/helpers/publisher/mqtt/hass.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

fix hass discovery object_id
  ecowitt2mqtt/helpers/publisher/mqtt/hass.py
  tests/helpers/publisher/mqtt/test_hass_discovery.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Fix lint
  ecowitt2mqtt/helpers/publisher/mqtt/hass.py
  tests/helpers/publisher/mqtt/test_hass_discovery.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Update Dockerfile with CONFIG_DIR Env Variable.
  Dockerfile
Due: codespell

Add config_Dir and volume to docker-compose
  docker-compose.dev.yml
Due: check-yaml, codespell, yamllint

Update Dockerfile
  Dockerfile
Due: codespell

Create #new-feature.md
  #new-feature.md
Due: blacken-docs, codespell

Create #issue-fix.md
  #issue-fix.md
Due: blacken-docs, codespell

Update device classes
  ecowitt2mqtt/helpers/publisher/mqtt/hass.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Fix tests
  ecowitt2mqtt/helpers/publisher/mqtt/hass.py
  tests/helpers/publisher/mqtt/test_hass_discovery.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

feat: add BGT and WBGT temperature data point support (#1401)
  ecowitt2mqtt/const.py
  ecowitt2mqtt/data.py
  tests/data/test_bgt_wbgt.py
  tests/fixtures/payload_gw3000b_bgt.json
Due: blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture
