Repository bachya/ecowitt2mqtt: changes, and which pre-commit hooks are due for each by the changed paths.
All: blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture, yamllint

blacken-docs:
  name: â˜•ï¸ Format documentation using black
  language: system
  entry: poetry run blacken-docs
  require_serial: true

check-ast:
  name: ğŸ Checking Python AST
  language: system
  entry: poetry run check-ast

check-docstring-first:
  name: â„¹ï¸  Checking docstrings are first
  language: system
  entry: poetry run check-docstring-first

check-json:
  name: ï½› Checking JSON files
  language: system
  entry: poetry run check-json

check-toml:
  name: âœ… Checking TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: âœ… Checking YAML files
  language: system
  entry: poetry run check-yaml

codespell:
  name: âœ… Checking code for misspellings
  language: system
  entry: poetry run codespell -L HASS,hass

debug-statements:
  name: ğŸªµ Checking for debug statements and imports (Python)
  language: system
  entry: poetry run debug-statement-hook

format:
  name: â˜•ï¸ Formatting code using ruff
  language: system
  entry: poetry run ruff format

isort:
  name: ğŸ”€ Sorting all imports with isort
  language: system
  entry: poetry run isort

mypy:
  name: ğŸ† Performing static type checking using mypy
  language: system
  entry: poetry run mypy
  require_serial: true

pylint:
  name: ğŸŒŸ Starring code with pylint
  language: system
  entry: poetry run pylint

pyupgrade:
  name: ğŸ†™ Checking for upgradable syntax with pyupgrade
  language: system
  entry: poetry run pyupgrade
  args:
  - --py39-plus
  - --keep-runtime-typing

ruff:
  name: ğŸ‘” Enforcing style guide with ruff
  language: system
  entry: poetry run ruff --fix

vulture:
  name: ğŸ” Finding unused Python code with Vulture
  language: system
  entry: poetry run vulture ecowitt2mqtt tests vulture_whitelist.py
  pass_filenames: false
  require_serial: true

yamllint:
  name: ğŸ—  Checking YAML files with yamllint
  language: system
  entry: poetry run yamllint

fix: fix bug where indoor absolute humidity would have wrong value (#999)
  ecowitt2mqtt/const.py
  ecowitt2mqtt/data.py
  ecowitt2mqtt/helpers/calculator/humidity.py
  tests/data/test_battery.py
  tests/data/test_data_processing.py
  tests/data/test_units.py
  tests/helpers/publisher/mqtt/test_hass_discovery.py
  tests/helpers/publisher/mqtt/test_topic_publisher.py
  tests/test_runtime.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Bump version to 2024.06.0
  ecowitt2mqtt/const.py
  pyproject.toml
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

fix: remove measurement designation from certain HASS entities
  ecowitt2mqtt/helpers/publisher/mqtt/hass.py
  tests/helpers/publisher/mqtt/test_hass_discovery.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

fix: remove measurement designation from certain HASS entities (#1002)
  ecowitt2mqtt/helpers/publisher/mqtt/hass.py
  tests/helpers/publisher/mqtt/test_hass_discovery.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Bump version to 2024.06.1
  ecowitt2mqtt/const.py
  pyproject.toml
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

feat: add ability to set locale
  README.md
  ecowitt2mqtt/__main__.py
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/core.py
  ecowitt2mqtt/helpers/calculator/__init__.py
  tests/common.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

slightly better check
  ecowitt2mqtt/helpers/calculator/__init__.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

feat: add ability to set locale (#1014)
  README.md
  ecowitt2mqtt/__main__.py
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/core.py
  ecowitt2mqtt/helpers/calculator/__init__.py
  tests/common.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

fix: fix incorrect key in humidity calculator
  ecowitt2mqtt/helpers/calculator/humidity.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

fix tests
  tests/data/test_battery.py
  tests/data/test_data_processing.py
  tests/data/test_units.py
  tests/helpers/publisher/mqtt/test_hass_discovery.py
  tests/helpers/publisher/mqtt/test_topic_publisher.py
  tests/test_runtime.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

fix: fix incorrect key in humidity calculator (#1017)
  ecowitt2mqtt/helpers/calculator/humidity.py
  tests/data/test_battery.py
  tests/data/test_data_processing.py
  tests/data/test_units.py
  tests/helpers/publisher/mqtt/test_hass_discovery.py
  tests/helpers/publisher/mqtt/test_topic_publisher.py
  tests/test_runtime.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

fix: adjust HASS state classes for rain entities
  ecowitt2mqtt/helpers/publisher/mqtt/hass.py
  ecowitt2mqtt/runtime.py
  tests/helpers/publisher/mqtt/test_hass_discovery.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

fix: adjust HASS state classes for rain entities (#1018)
  ecowitt2mqtt/helpers/publisher/mqtt/hass.py
  ecowitt2mqtt/runtime.py
  tests/helpers/publisher/mqtt/test_hass_discovery.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Bump version to 2024.06.2
  ecowitt2mqtt/const.py
  pyproject.toml
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

fix: don't automatically set default locale
  ecowitt2mqtt/__main__.py
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/core.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

fix hooks
  ecowitt2mqtt/__main__.py
  ecowitt2mqtt/core.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

fix: don't automatically set default locale (#1027)
  ecowitt2mqtt/__main__.py
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/core.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

fix CI
  .pre-commit-config.yaml
Due: check-yaml, codespell, yamllint

feat: add ability to configure MQTT message and session expiry intervals
  README.md
  ecowitt2mqtt/__main__.py
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/helpers/publisher/mqtt/__init__.py
  ecowitt2mqtt/helpers/publisher/mqtt/hass.py
  ecowitt2mqtt/runtime.py
  poetry.lock
  pyproject.toml
  tests/helpers/publisher/mqtt/test_hass_discovery.py
  tests/helpers/publisher/mqtt/test_topic_publisher.py
  tests/test_runtime.py
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

linting
  pyproject.toml
Due: check-toml, codespell

fix tests
  tests/common.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

add MQTT protocol version
  README.md
  ecowitt2mqtt/__main__.py
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/helpers/publisher/mqtt/__init__.py
  ecowitt2mqtt/runtime.py
  tests/common.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

fix test
  tests/common.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

clean up
  README.md
  ecowitt2mqtt/__main__.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Run hooks
  ecowitt2mqtt/helpers/server.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

fix: ensure coverage artifacts are uploaded correctly
  .github/workflows/test.yml
Due: check-yaml, codespell, yamllint

fix ci
  ecowitt2mqtt/config.py
  ecowitt2mqtt/runtime.py
  tests/conftest.py
  tests/test_runtime.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

add srain_piezo of WS90 for rain state detection
  ecowitt2mqtt/const.py
  ecowitt2mqtt/data.py
  ecowitt2mqtt/helpers/calculator/rainstate.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

add tests for WS90 rain state detection
  tests/data/test_data_processing.py
  tests/fixtures/payload_gw2000a_3.json
  tests/fixtures/payload_gw2000a_4.json
Due: blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

add srain_piezo of WS90 for rain state detection (#1115)
  ecowitt2mqtt/const.py
  ecowitt2mqtt/data.py
  ecowitt2mqtt/helpers/calculator/rainstate.py
  tests/data/test_data_processing.py
  tests/fixtures/payload_gw2000a_3.json
  tests/fixtures/payload_gw2000a_4.json
Due: blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

feat: add Froggit HP1000SE-PRO device mapping
  ecowitt2mqtt/helpers/device.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

feat: add Froggit HP1000SE-PRO device mapping (#1126)
  ecowitt2mqtt/helpers/device.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

ci: migrate deprecated `pre-commit` stage names
  .pre-commit-config.yaml
Due: check-yaml, codespell, yamllint

ci: migrate deprecated `pre-commit` stage names (#1127)
  .pre-commit-config.yaml
Due: check-yaml, codespell, yamllint

Bump version to 2024.10.0
  ecowitt2mqtt/const.py
  pyproject.toml
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

add vapour pressure deficit or VPD, which is a new value since GW2000 firmware 3.2.2; test and fixture adaptions included
  ecowitt2mqtt/const.py
  ecowitt2mqtt/data.py
  tests/data/test_data_processing.py
  tests/fixtures/payload_gw2000a_3.json
  tests/fixtures/payload_gw2000a_4.json
Due: blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Update Dockerfile
  Dockerfile
Due: codespell

Create payload_gw3000a.json
  tests/fixtures/payload_gw3000a.json
Due: check-json, codespell

Update test_device.py
  tests/data/test_device.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Update rainstate.py
  ecowitt2mqtt/helpers/calculator/rainstate.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Path conditions:
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^poetry\.lock$
  debug-statements: any of: \.py$
  format: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: ^vulture_whitelist\.py$
  pylint: any of: \.py$, but not: ^vulture_whitelist\.py$
  pyupgrade: any of: \.py$
  ruff: any of: \.py$, but not: ^vulture_whitelist\.py$
  vulture: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
