Repository bachya/ecowitt2mqtt: changes, and which pre-commit hooks are due for each by the changed paths.
All: blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture, yamllint

blacken-docs:
  name: â˜•ï¸ Format documentation using black
  language: system
  entry: poetry run blacken-docs
  require_serial: true

check-ast:
  name: ğŸ Checking Python AST
  language: system
  entry: poetry run check-ast

check-docstring-first:
  name: â„¹ï¸  Checking docstrings are first
  language: system
  entry: poetry run check-docstring-first

check-json:
  name: ï½› Checking JSON files
  language: system
  entry: poetry run check-json

check-toml:
  name: âœ… Checking TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: âœ… Checking YAML files
  language: system
  entry: poetry run check-yaml

codespell:
  name: âœ… Checking code for misspellings
  language: system
  entry: poetry run codespell -L HASS,hass

debug-statements:
  name: ğŸªµ Checking for debug statements and imports (Python)
  language: system
  entry: poetry run debug-statement-hook

format:
  name: â˜•ï¸ Formatting code using ruff
  language: system
  entry: poetry run ruff format

isort:
  name: ğŸ”€ Sorting all imports with isort
  language: system
  entry: poetry run isort

mypy:
  name: ğŸ† Performing static type checking using mypy
  language: system
  entry: poetry run mypy
  require_serial: true

pylint:
  name: ğŸŒŸ Starring code with pylint
  language: system
  entry: poetry run pylint

pyupgrade:
  name: ğŸ†™ Checking for upgradable syntax with pyupgrade
  language: system
  entry: poetry run pyupgrade
  args:
  - --py39-plus
  - --keep-runtime-typing

ruff:
  name: ğŸ‘” Enforcing style guide with ruff
  language: system
  entry: poetry run ruff --fix

vulture:
  name: ğŸ” Finding unused Python code with Vulture
  language: system
  entry: poetry run vulture ecowitt2mqtt tests vulture_whitelist.py
  pass_filenames: false
  require_serial: true

yamllint:
  name: ğŸ—  Checking YAML files with yamllint
  language: system
  entry: poetry run yamllint

Ensure `hadolint` is included with this repo (#800)
  .github/workflows/static-analysis.yml
  .pre-commit-config.yaml
Due: check-yaml, codespell, yamllint

Fix CI
  ecowitt2mqtt/helpers/config_validation.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Fix issue with incorrect Python version spec
  poetry.lock
  pyproject.toml
Due: check-toml, codespell

Fix issue with incorrect Python version spec (#818)
  poetry.lock
  pyproject.toml
Due: check-toml, codespell

Migrate from `rtx` to `mise`
  .mise.toml
  script/setup
Due: check-toml, codespell

Migrate from `rtx` to `mise` (#834)
  .mise.toml
  script/setup
Due: check-toml, codespell

Update README.md, Docker with ECOWITT2MQTT_MQTT_TOPIC
  README.md
Due: blacken-docs, codespell

Fix CI badge in README
  README.md
Due: blacken-docs, codespell

Update README.md, Docker with ECOWITT2MQTT_MQTT_TOPIC (#840)
  README.md
Due: blacken-docs, codespell

Fix CI badge in README (#841)
  README.md
Due: blacken-docs, codespell

Add data detection for `heap` sensor
  ecowitt2mqtt/const.py
  ecowitt2mqtt/data.py
  ecowitt2mqtt/helpers/calculator/heap.py
  ecowitt2mqtt/helpers/publisher/mqtt/hass.py
  tests/data/test_data_processing.py
  tests/fixtures/payload_gw2000a_1.json
Due: blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Add data detection for `heap` sensor (#845)
  ecowitt2mqtt/const.py
  ecowitt2mqtt/data.py
  ecowitt2mqtt/helpers/calculator/heap.py
  ecowitt2mqtt/helpers/publisher/mqtt/hass.py
  tests/data/test_data_processing.py
  tests/fixtures/payload_gw2000a_1.json
Due: blacken-docs, check-ast, check-docstring-first, check-json, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Bump version to 2024.01.0
  ecowitt2mqtt/const.py
  pyproject.toml
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Add `StrEnum` backport from `backports.strenum`
  ecowitt2mqtt/backports/enum.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Pylint
  pyproject.toml
Due: check-toml, codespell

Add `StrEnum` backport from `backports.strenum` (#846)
  ecowitt2mqtt/backports/enum.py
  pyproject.toml
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Replace `voluptuous` with `pydantic`
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/helpers/config_validation.py
  poetry.lock
  pyproject.toml
  tests/test_config.py
  tests/test_core.py
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Typing
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/helpers/typing.py
  ecowitt2mqtt/util/meteo.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Update
  ecowitt2mqtt/config.py
  ecowitt2mqtt/util/meteo.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Replace `voluptuous` with `pydantic` (#847)
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/helpers/config_validation.py
  ecowitt2mqtt/helpers/typing.py
  ecowitt2mqtt/util/meteo.py
  poetry.lock
  pyproject.toml
  tests/test_config.py
  tests/test_core.py
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Replace unit system constants with an Enum
  ecowitt2mqtt/__main__.py
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/helpers/calculator/__init__.py
  ecowitt2mqtt/helpers/calculator/wind.py
  ecowitt2mqtt/util/meteo.py
  tests/common.py
  tests/data/test_data_processing.py
  tests/data/test_units.py
  tests/test_config.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

More
  ecowitt2mqtt/util/meteo.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Replace unit system constants with an Enum (#848)
  ecowitt2mqtt/__main__.py
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/helpers/calculator/__init__.py
  ecowitt2mqtt/helpers/calculator/wind.py
  ecowitt2mqtt/util/meteo.py
  tests/common.py
  tests/data/test_data_processing.py
  tests/data/test_units.py
  tests/test_config.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Address upcoming deprecation of `datetime.datetime.utcnow()`
  ecowitt2mqtt/helpers/calculator/time.py
  ecowitt2mqtt/util/dt.py
  pyproject.toml
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Address upcoming deprecation of `datetime.datetime.utcnow()` (#849)
  ecowitt2mqtt/helpers/calculator/time.py
  ecowitt2mqtt/util/dt.py
  pyproject.toml
Due: blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Stream output unit validation via custom validator
  ecowitt2mqtt/config.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Typing
  ecowitt2mqtt/config.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Stream output unit validation via custom validator (#850)
  ecowitt2mqtt/config.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Migrate appropriate unit collections from constants to Enums
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/helpers/calculator/battery.py
  ecowitt2mqtt/helpers/calculator/heap.py
  ecowitt2mqtt/helpers/calculator/humidity.py
  ecowitt2mqtt/helpers/calculator/illuminance.py
  ecowitt2mqtt/helpers/calculator/lightning.py
  ecowitt2mqtt/helpers/calculator/pollution.py
  ecowitt2mqtt/helpers/calculator/precipitation.py
  ecowitt2mqtt/helpers/calculator/pressure.py
  ecowitt2mqtt/helpers/calculator/temperature.py
  ecowitt2mqtt/helpers/calculator/time.py
  ecowitt2mqtt/helpers/calculator/uv.py
  ecowitt2mqtt/helpers/calculator/wind.py
  ecowitt2mqtt/util/meteo.py
  ecowitt2mqtt/util/unit_conversion.py
  tests/data/test_battery.py
  tests/data/test_data_processing.py
  tests/data/test_units.py
  tests/test_config.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Again
  ecowitt2mqtt/config.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Fix
  ecowitt2mqtt/util/unit_conversion.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Migrate appropriate unit collections from constants to Enums (#851)
  ecowitt2mqtt/config.py
  ecowitt2mqtt/const.py
  ecowitt2mqtt/helpers/calculator/battery.py
  ecowitt2mqtt/helpers/calculator/heap.py
  ecowitt2mqtt/helpers/calculator/humidity.py
  ecowitt2mqtt/helpers/calculator/illuminance.py
  ecowitt2mqtt/helpers/calculator/lightning.py
  ecowitt2mqtt/helpers/calculator/pollution.py
  ecowitt2mqtt/helpers/calculator/precipitation.py
  ecowitt2mqtt/helpers/calculator/pressure.py
  ecowitt2mqtt/helpers/calculator/temperature.py
  ecowitt2mqtt/helpers/calculator/time.py
  ecowitt2mqtt/helpers/calculator/uv.py
  ecowitt2mqtt/helpers/calculator/wind.py
  ecowitt2mqtt/util/meteo.py
  ecowitt2mqtt/util/unit_conversion.py
  tests/data/test_battery.py
  tests/data/test_data_processing.py
  tests/data/test_units.py
  tests/test_config.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Refactor duplicate config parsing logic
  ecowitt2mqtt/config.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Refactor duplicate config parsing logic (#852)
  ecowitt2mqtt/config.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Properly type HTTPserver port
  ecowitt2mqtt/config.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Make boolean config validator more efficient
  ecowitt2mqtt/config.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Properly type HTTPserver port (#854)
  ecowitt2mqtt/config.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Make boolean config validator more efficient (#855)
  ecowitt2mqtt/config.py
Due: blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, format, isort, mypy, pylint, pyupgrade, ruff, vulture

Remove Safety as a dependency
  poetry.lock
  pyproject.toml
Due: check-toml, codespell

Path conditions:
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^poetry\.lock$
  debug-statements: any of: \.py$
  format: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: ^vulture_whitelist\.py$
  pylint: any of: \.py$, but not: ^vulture_whitelist\.py$
  pyupgrade: any of: \.py$
  ruff: any of: \.py$, but not: ^vulture_whitelist\.py$
  vulture: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
